@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif;
}

.bg-primary {
  background-color: #015258;
}

.bg-secondary {
  background-color: #ff9479;
}

.text-secondary {
  color: #ff9479;
}
.text-primary {
  color: #015258;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
  
